/* #region Main HTML Page */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

/* #endregion */

/* #region Navigation */

nav {
    height: 40px;
    width: 100%;
    background: rgba(0,0,0,.8);
    margin: auto;
}

nav ul {
    width: 80%;
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: auto;
}

nav ul li {
    margin: auto;
    padding: 10px;
}

li a{
    font-size: 14px;
    color: white;
    opacity: .8;
    text-decoration: none;
    margin: auto;
    
}

li a:hover {
    cursor: pointer;
    opacity: 1;
}

/* #endregion */

/* #region Content */



/* #endregion */