/* #region Main HTML Page */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #endregion */

/* #region Navigation */

.nav {

}

/* #endregion */

/* #region Content */



/* #endregion */